<main class="max-w-screen-2xl mx-auto">
  <section class="p-4">

    <p *ngIf="error">{{error}}</p>
    
    <h1 *ngIf="page?.title"
        class="text-4xl font-bold mb-4"
        [attr.data-cslp]="page?.$ && page?.$.title['data-cslp']">
      {{ page?.title }}
    </h1>

    <p *ngIf="page?.description"
       class="mb-4"
       [attr.data-cslp]="page?.$ && page?.$.description['data-cslp']">
      {{ page?.description }}
    </p>

    <img *ngIf="page?.image"
      class="mb-4"
      width="640"
      height="360"
      [src]="page?.image?.url"
      [alt]="page?.image?.title"
      [attr.data-cslp]="page?.image.$ && page?.image.$.url['data-cslp']" />

    <div *ngIf="page?.rich_text"
      [attr.data-cslp]="page?.$ && page?.$.rich_text['data-cslp']"
      [innerHTML]="page?.rich_text">
    </div>

    <div class="space-y-8 max-w-screen-sm mt-4" [attr.data-cslp]="page?.$ && page?.$.blocks['data-cslp']">
      <div *ngFor="let item of page?.blocks; let index = index"
        [attr.data-cslp]="page?.$ && page?.$['blocks__' + index]['data-cslp']"
        [ngClass]="{
          'flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4': true,
          'md:flex-row': item.block.layout === 'image_left',
          'md:flex-row-reverse': item.block.layout !== 'image_left'
        }">
        
        <div class="w-full md:w-1/2">
          <img *ngIf="item.block.image"
            [src]="item.block.image.url"
            [alt]="item.block.image.title"
            width="200"
            height="112"
            class="w-full" 
            [attr.data-cslp]="item.block?.image.$ && item.block?.image.$.url['data-cslp']"
          />
        </div>
        
        <div class="w-full md:w-1/2">
          <h2 *ngIf="item.block.title" 
            class="text-2xl font-bold" 
            [attr.data-cslp]="item.block.$ && item.block.$.title['data-cslp']">
            {{ item.block.title }}
          </h2>
          
          <div *ngIf="item.block.copy"
               class="prose"
               [attr.data-cslp]="item.block.$ && item.block.$.copy['data-cslp']"
               [innerHTML]="item.block.copy">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>